In [26]:
!pip install SQLAlchemy==1.4.49 --force-reinstall
!pip install ipython-sql
!pip install pymysql psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting SQLAlchemy==1.4.49
  Using cached sqlalchemy-1.4.49-cp313-cp313-win_amd64.whl
Collecting greenlet!=0.4.17 (from SQLAlchemy==1.4.49)
  Using cached greenlet-3.2.3-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Using cached greenlet-3.2.3-cp313-cp313-win_amd64.whl (297 kB)
Installing collected packages: greenlet, SQLAlchemy

  Attempting uninstall: greenlet

    Found existing installation: greenlet 3.2.3

    Uninstalling greenlet-3.2.3:

      Successfully uninstalled greenlet-3.2.3

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
  Attempting uninstall: SQLAlchemy
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [SQLAlchemy]
    Found existing installation: SQLAlchemy 2.0.41
   -------------------- ------------------- 1/2 [SQLAlchemy]
    Uninstalling SQLAlchemy-2.0.41:
   -------------------- ------------------- 1/2 [SQLAlchemy]
      Successfully uninstalled SQLAlchemy-2.0.41
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   ---------------------------------------- 2/2 [SQLAlchemy]

Successfully installed SQLAlchemy-1.4.49 greenlet-3.2.3

WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.49 which is incompatible.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython-sql) (9.3.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Using cached sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.49
    Uninstalling SQLAlchemy-1.4.49:
      Successfully uninstalled SQLAlchemy-1.4.49
Successfully installed sqlalchemy-2.0.41

WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.1.1)
Requirement already satisfied: psycopg2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.9.10)

WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%sql mysql+pymysql://root:@Toor001@localhost:3306/edu_institute

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'pymysql'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

1. Database Creation and Table Setup (2 Marks)

    1.1 Create a database named edu_institute. (0.5 Marks)
    
    1.2 Within edu_institute, create a table named students (1.5 marks)

In [37]:
# Importing Python Libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Database Connection Configuration
# Replace 'your_username' and 'your_password' with your MySQL credentials.
DB_USER = 'root'
DB_PASSWORD = '@Toor001'
DB_HOST = 'localhost'
DB_NAME = 'edu_institute'

#Lets establish a connection to the MySQL Server
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password
        )
        print("MySQL Server Connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

#Function to execute SQL queries
# This function can be used to execute any SQL query that does not return data (e.g., CREATE, INSERT, DROP).
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print(f"Query executed successfully.")
    except Error as err:
        print(f"Error: '{err}'")
    finally:
        cursor.close()

# Now we will create a function to read data from the database and return it in a structured format.
def read_query_to_dataframe(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        records = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        return pd.DataFrame(records, columns=columns)
    except Error as err:
        print(f"Error: '{err}'")
    finally:
        cursor.close()

# Then we stablish a connection for the notebook session
# First, connect to the server to create the database
server_conn = create_server_connection(DB_HOST, DB_USER, DB_PASSWORD)

# Then, create the database if it doesn't exist
if server_conn:
    execute_query(server_conn, f"CREATE DATABASE IF NOT EXISTS edu_institute")
    server_conn.close()

# Now, establish a persistent connection to the edu_institute database for the rest of the script
db_conn = mysql.connector.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_NAME
)
print(f"Connection to database edu_institute established.")

# We drop the table first to ensure the script is runnable multiple times without errors.
drop_table_query = "DROP TABLE IF EXISTS students"
execute_query(db_conn, drop_table_query)

create_table_query = """
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender CHAR(1),
    enrollment_date DATE,
    program VARCHAR(50)
);
"""
execute_query(db_conn, create_table_query)

MySQL Server Connection successful
Query executed successfully.
Connection to database edu_institute established.
Query executed successfully.
Query executed successfully.

2.1  Insert at least 5 records into the students table, with diverse names, ages, genders, enrolment dates, and programs.
Ensure at least one student is enrolled in "Data Science". (2 Marks)

In [38]:
# Insert at least 5 records into the students table
insert_data_query = """
INSERT INTO students (student_id, name, age, gender, enrollment_date, program) VALUES
(1, 'Seth Rollins', 22, 'M', '2022-10-01', 'Architecture'),
(2, 'Bobby Lashley', 23, 'M', '2020-08-30', 'Data Science'),
(3, 'Charlotte Flaire', 21, 'F', '2022-02-20', 'International Relations'),
(4, 'Becky Lynch', 24, 'F', '2019-05-10', 'Data Science'),
(5, 'Randy Orton', 25, 'M', '2023-01-15', 'Zoology'),
(6, 'Rhea Ripley', 20, 'F', '2021-09-01', 'Sports Science');
"""
execute_query(db_conn, insert_data_query)

Query executed successfully.

3.1  Write a query to select all columns for all students in the "Data Science" program

In [39]:
query_ds_students = "SELECT * FROM students WHERE program = 'Data Science';"
ds_students_df = read_query_to_dataframe(db_conn, query_ds_students)
print("Students in the 'Data Science' program:")
display(ds_students_df)

Students in the 'Data Science' program:

   student_id           name  age gender enrollment_date       program
0           2  Bobby Lashley   23      M      2020-08-30  Data Science
1           4    Becky Lynch   24      F      2019-05-10  Data Science

3.2 Write a query to find the total number of students and display it as Total Students

In [40]:
query_total_students = "SELECT COUNT(*) AS 'Total Students' FROM students;"
total_students_df = read_query_to_dataframe(db_conn, query_total_students)
print("Total number of students:")
display(total_students_df)

Total number of students:

   Total Students
0               6

4.1 Use an appropriate function to display the current date in a column named Today's Date

In [41]:
query_current_date = "SELECT CURRENT_DATE() AS `Today's Date`;"
current_date_df = read_query_to_dataframe(db_conn, query_current_date)
print("Today's Date:")
display(current_date_df)

Today's Date:

  Today's Date
0   2025-06-30

4.2  Write a query to select the student names and their enrolment dates, but display the name column in uppercase

In [42]:
query_uppercase_names = "SELECT UPPER(name) AS student_name, enrollment_date FROM students;"
uppercase_df = read_query_to_dataframe(db_conn, query_uppercase_names)
print("Student names in uppercase:")
display(uppercase_df)

Student names in uppercase:

       student_name enrollment_date
0      SETH ROLLINS      2022-10-01
1     BOBBY LASHLEY      2020-08-30
2  CHARLOTTE FLAIRE      2022-02-20
3       BECKY LYNCH      2019-05-10
4       RANDY ORTON      2023-01-15
5       RHEA RIPLEY      2021-09-01

5.1 Write a query to count the number of students in each program and display the results in descending order of count

In [43]:
query_program_count = """
SELECT program, COUNT(*) AS 'Number of Students'
FROM students
GROUP BY program
ORDER BY `Number of Students` DESC;
"""
program_count_df = read_query_to_dataframe(db_conn, query_program_count)
print("Number of students per program:")
display(program_count_df)

Number of students per program:

                   program  Number of Students
0             Data Science                   2
1             Architecture                   1
2  International Relations                   1
3                  Zoology                   1
4           Sports Science                   1

5.2 Write a query to find the youngest student's name and age

In [44]:
query_youngest_student = "SELECT name, age FROM students ORDER BY age ASC LIMIT 1;"
youngest_student_df = read_query_to_dataframe(db_conn, query_youngest_student)
print("Youngest student:")
display(youngest_student_df)

if db_conn and db_conn.is_connected():
    db_conn.close()
    print("Database connection closed.")

Youngest student:

          name  age
0  Rhea Ripley   20

Database connection closed.